@import "./mixins.scss";
@import "./variables.scss";

.checkout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30rem;
  max-width: 40rem;
  width: 90%;
  z-index: 30;
  background-color: $textWhite;
  border-radius: 1rem;
  padding: 2rem;
  @include flex(column, center, flex-start);
  color: rgb(60, 60, 60);

  h3 {
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.1rem;
    padding: 0.4rem 0;
  }

  &__info {
    padding-top: 2rem;
    width: 100%;

    select {
      width: 100%;
      color: grey;
      font-size: 0.9rem;
      margin: 0.5rem 0;
      padding: 0.5rem 0rem;
      border: none;
      border-bottom: 1px solid rgb(198, 197, 197);
      box-shadow: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 100%;
      margin: 1rem 0;
    }
  }

  &__cards {
    img {
      height: 2rem;
      margin: 0.5rem 0;
    }

    p {
      font-size: 0.9rem;
    }
  }

  &__flex {
    @include flex(row, center, space-between);
    width: 100%;

    button {
      height: 2rem;
      width: 2rem;
      font-size: 1.2rem;
      border: none;
      background: $yellow;
      border-radius: 0.2rem;
      color: $textWhite;
    }

    img {
      height: 1rem;
      opacity: 0.5;
    }
  }
}
