@import "./variables.scss";
@import "./mixins.scss";

.home {
  position: relative;
  height: 50vh;
  min-height: calc(100vh - 4rem);

  @media screen and (min-width: $tablet) {
    @include flex(row, center, space-between);
    min-height: calc(100vh - 5.75rem);
  }
}

.hero {
  background: $blue;
  height: 100%;
  width: 100%;
  border-radius: 0rem 0 0 17rem;
  padding: 5rem 2rem;
  @include flex(column, center, center);

  @media screen and (min-width: $tablet) {
    @include flex(row, center, space-between);
    width: 100%;
  }

  @media screen and (min-width: $laptop) {
    padding: 5rem;
  }

  h1 {
    color: $textWhite;
    font-size: 2.5rem;
    line-height: 1;
  }

  p {
    color: $textWhite;
    margin: 1.5rem 0;
    max-width: 30rem;
  }

  img {
    padding: 3rem 0;
    width: 100%;
    max-width: 25rem;
    padding-left: 2rem;

    @media screen and (min-width: $laptop) {
      max-width: 50rem;
      padding-left: 5rem;
    }
  }
}

.sidebar {
  position: absolute;
  height: auto;
  bottom: 1rem;
  width: auto;

  @include flex(column, center, center);
  @media screen and (min-width: $tablet) {
    position: relative;
    height: 100%;
  }

  img {
    height: 1rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
    @include transition(0.1s);

    &:hover {
      transform: scale(1.2);
    }
  }
}
