@import "./mixins.scss";
@import "./variables.scss";

.watches {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 0;
  padding-top: 8rem;

  h2 {
    position: absolute;
    font-size: 2.2rem;
    color: $blue;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
